@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: background 0.5s;
}

.headerContent {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.4s;
}

.header ul li a:hover {
    color: #dfdfdf;
}

.button {
    color: #043353;
    width: 4vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border-radius: 25px;
    background-color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #dfdfdf;
}

.stickyheader {
    background-color: #fff;
    color: #043353;
    box-shadow: 0px 13px 20px -21px rgba(4,51,83,0.2);
}

.stickyheader ul li a{
    color: #043353;
}

.stickyheader ul li a:hover {
    color: #dfdfdf;
}

.stickybutton {
    background-color: #043353;
    color: #fff;
}

.firstImage {
    background-image: url('../../images/background.jpg');
}

.parallax {
    background-attachment: fixed;
}

.ajust {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ajust h1 {
    color: #fff;
    font-weight: 200;
    font-size: 370px;
    margin-top: 200px;
    font-family: Yellowtail;
}

.ajust p {
    color: #fff;
    font-size: 32px;
    margin-bottom: 200px;
    margin-left: 300px;
    position: absolute;
    font-weight: 200;
}

.ajust a img{
    font-size: 32px;
    margin-top: 200px;
}

.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
}

.contentHeader {
    width: 85%;
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
    border-bottom: solid 1px #043353;
    justify-content: center;
}

.contentHeader h1 {
    font-weight: 300;
    color: #043353;
    margin-bottom: 50px;
}

.contentBody {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card {
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background-color: #fff;
    box-shadow: 20px 23px 20px -21px rgba(4,51,83,0.2);
}

.card h1 {
    font-size: 28px;
    font-weight: 500;
    color: #043353;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    font-weight: 400;
    color: #043353;
    margin-bottom: 30px;
}

.card h3 {
    font-size: 18px;
    font-weight: 500;
    color: #043353;
    margin-bottom: 100px;
}

.card p {
    font-size: 22px;
    font-weight: 300;
}

.division {
    height: 600px;
    width: 1px;
    background-color: #043353;
}

::selection {
    background-color: #043353;
    color: #fff;
}