* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    background-color: #f5f5f5;
}

header {
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #043353;
    box-shadow: 0px 13px 20px -21px #000;
}

.contentHeader {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentHeader h1, a {
    color: #fff;
    text-decoration: none;
}

.menu {
    width: 19.05vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #043353;
    display: flex;
    justify-content: center;
}

.menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.menu ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top: 1px solid grey;
    transition: 0.4s;
}

.menu ul li:hover {
    background-color: #0a3c5e;
    color: #0a3c5e;
}

.menu ul li:last-child {
    border-bottom: 1px solid grey;
}

#conteudo {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

/*RegistrtoCultos*/

.cultoContent {
    width: 99vw;
    padding-bottom: 30px;
}

.cultoHeader {
    padding: 155px 450px 80px;
}

.cultoHeader h1 {
    font-weight: 400;
    color: #043353;
    font-size: 34px;
}

.cultoHeader p {
    font-weight: 300;
    font-size: 13.5px;
}

.cultoBody {
    padding-left: 450px;
    display: flex;
    flex-direction: column;
}

.cultoBody input {
    width: 30vw;
    height: 6vh;
    padding: 30px;
    border-radius: 50px;
    font-size: 18px;
    outline: none;
    margin-bottom: 30px;
    font-family: Roboto;
}

input::placeholder {
    color: rgb(212, 212, 212);
}

.cultoBody p {
    margin-bottom: 10px;
}

.cultoBody textarea {
    width: 30vw;
    height: 20vh;
    outline: none;
    padding: 30px;
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 30px;
}

.cultoBody button {
    width: 30vw;
    height: 70px;
    background-color: #043353;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    color: #FFF;
    transition: 0.4s;
}

.cultoBody button:hover {
    background-color: #0a3c5e;
}